.return-button{
    position: absolute;
    right: 20px;
    top: 30px;
    background: #fff;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    flex-flow: column; 
    vertical-align: top;
}

.emotions {
    width: center;
    height: 100px;
    /*background-color: #00ffff;*/
  }
  
  .inner {
    padding-top: 30px;
    display: flex;
    justify-content: space-evenly;
    margin:650px 0px;
  }

  .pos { position:absolute; bottom:0%; left:0%; }