<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charaset = "utf-8">
		<title>キャラクター選択</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../static/css/charactor.css">
    </head>

    <body>
        <header>
        </header>
        <div id="main" class="site-width">

            <!-- キャラクター選択画面-->
            <div class="characters-select-area" >
				<h1>キャンパスツアー</h1>
                <h2>ツアーリストを選んでください</h2>

                <form action="/main_building" method="POST" enctype="multipart/form-data">

                    <!--上段のキャラクターが配置されているエリア  -->
                  <!--
                    <div id="container-top-characters" class="site-width">
                        <!-- for属性の値とinputタグのid属性の値を同じにすることで、ブラウザでラベルをクリックした際に、inputタグをクリックしたのと同じ動作が可能になる -->
                        <!-- labelタグにはjsで使うクラス「js-panel-select」を用意しておく-->
                        <!--
                        <label for="man_1" class="panel panel-ceo js-panel-select">
                            <input type="radio" name="ceo-select" value="10" id="man_1">
                            <img class="panel-img" src="./static/images/youngman_1.png">
                        </label>
                        <label for="woman_1" class="panel panel-ceo js-panel-select">
                            <input type="radio" name="ceo-select" value="10" id="woman_1">
                            <img class="panel-img" src="./static/images/youngwoman_1.png">
                        </label>
                        <label for="man_2" class="panel panel-ceo js-panel-select">
                            <input type="radio" name="ceo-select" value="10" id="man_2">
                            <img class="panel-img" src="./static/images/youngman_2.png">
						</label>
						<label for="women_2" class="panel panel-ceo js-panel-select">
                            <input type="radio" name="ceo-select" value="10" id="women_2">
                            <img class="panel-img" src="./static/images/youngwoman_2.png">
						</label>
					</div>
        -->
					<!--<div class="text-space">
						<div class="balloon1-left">
							<p id="text">{{ message }}</p>
						</div>
					</div>-->

                    <!-- submitボタンのinputタグにはjsで使うクラス「js-btn-prohibid」を用意しておく -->
                    <!-- 属性disabledをつけておき、ボタンを非活性にする -->
                    <input type="submit" class="btn btn-slect js-btn-prohibid" onClick="location.href='/main_building'" value="ツアースタート">
                </form>
            </div>

        <footer class="site-width">
        </footer>
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script>

            ////キャラクター選択
            //クラス js-panel-select のDOMを変数に入れる
            var $selectPanel = $('.js-panel-select');

            //変数$selectPanelの要素をクリックしたとき
            $selectPanel.on('click', function(e){
                //変数$selectPanelの要素のCSSを変更して、枠線を透明にする（前回クリックしたときの赤い枠線を消すため）
                $selectPanel.css('border', '5px rgba(0,0,0,0) solid');
                //クリックした要素のCSSを変更して枠線を赤くする
                $(this).css('border', '5px red solid');

            });

            ////ボタン活性化
            //クラス js-btn-prohibid のDOMを変数に入れる
            var $prohibidBtn = $('.js-btn-prohibid');

            //変数$selectPanelの要素をクリックしたとき
            $selectPanel.on('click', function(e){
                //クラスjs-btn-permitを追加する(ボタンの色が変わる)
                //クラスjs-btn-prohibidを削除する(ボタンの色が変わる)
                //属性disabledを削除する(ボタンが活性化される)
                $prohibidBtn.addClass('js-btn-permit').removeClass('js-btn-prohibid').removeAttr('disabled');
            });

			$selectPanel.on('click', function(e){
                var men_1 = document.getElementById("man_1");
				var men_2 = document.getElementById("man_2");
				var women_1 = document.getElementById("woman_1");
				var women_2 = document.getElementById("woman_2");
				if(men_1 == "man_1"){
                document.getElementById("text").innerHTML = "男の子1です！";
				}else if(men_2 == "man_2"){
					document.getElementById("text").innerHTML = "男の子2です！";
				}else if(women_1 == "woman_1"){
					document.getElementById("text").innerHTML = "女の子1です！";
				}else if(women_2 == "woman_2"){
					document.getElementById("text").innerHTML = "女の子2です！";
				}
            });


        </script>


    </body>

</html>
